.calculator {
  display: flex;
  flex-direction: column;
}

.live {
  display: flex;
}

.game {
  border: 1px solid black;
  margin: 10px;
  width: 40vw;
  padding: 5px;
}

.outs {
  display: flex;
  flex-direction: column;
}

.outsOptions {
  display: flex;
  flex-direction: column;
}

.battingOptions {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
}

.inningsOptions {
  display: flex;
}

.scoreOptions {
  display: flex;
}

.scoreOption {
  display: flex;
}

.runners {
  display: flex;
  flex-direction: column;
}

.runnersOptions {
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
}

.runnersOption {
  width: 10vw;
  display: flex;
  /* flex-grow: 1; */
}

.inputRadio {
  margin: 5px;
}

.results {
  display: flex;
  flex-direction: column;
}

.teamNames {
  text-decoration: underline;
}

.mets {
  display: flex;
  flex-direction: row;
}

.title {
  display: flex;
}

.score {
  display: flex;
  flex-direction: column;
}

td {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
}

table {
  display: flex;
  justify-content: center;
}

h3 {
  text-decoration: underline;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
