.calculator {
  display: flex;
  flex-direction: column;
}

.outs {
  display: flex;
  flex-direction: column;
}

.outsOptions {
  display: flex;
  flex-direction: column;
}

.battingOptions {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
}

.inningsOptions {
  display: flex;
}

.scoreOptions {
  display: flex;
}

.scoreOption {
  display: flex;
}

.runners {
  display: flex;
  flex-direction: column;
}

.runnersOptions {
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
}

.runnersOption {
  width: 10vw;
  display: flex;
  /* flex-grow: 1; */
}

.inputRadio {
  margin: 5px;
}

h3 {
  text-decoration: underline;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
